.comments-column-header-row {
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #333;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.comments-column-header-icon-image {
  margin-right: 5px;
  height: 15px;
  width: auto;
}

.comments-column-header-text {
  margin-left: 5px;
}

.comments-column-header-redo-button {
  background: none;
  border: none;
  cursor: default;

  padding: 0 16px;
  border-radius: 12px;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: #a5a5a5;
  cursor: pointer;
}

.comments-column-header-redo-button:hover {
  color: #7e8ed7;
}