#variations-column {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow-y: auto;
  border: 1px solid rgba(0, 0, 0, 0.1);
  max-width: 250px;
  height: 200px;
  border-radius: 25px;
}

img {
  position:absolute;
  height:100px;
  width:150px;
  left:-50px;
}

.makeStyles-nested-2 {
  position:relative;
}

#shoe_text {
  position:absolute;
  top:10px;
}

.MuiCollapse-container .MuiCheckbox-root {
  position:absolute;
  right:0px;
  top:-70px;
}

.MuiCollapse-container .MuiButtonBase-root {
  height:180px;
}


#sidebar-subitem-text {
  font-size: 0.8rem;
}

