#sketch-container {
  position: relative;
}

.static {
  pointer-events: none;
  cursor: auto;
}

#sketch-canvas {
  position: absolute;
  z-index: 1;
  height: 100%;
  background: none;
}

@media only screen and (max-width: 768px) {
  #sketch-container {
    min-width: 200px;
    min-height: 200px;
  }
}
