#notes-column {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* width: 23vw; */
  width: 337px;
}

#input-column {
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-bottom: 1px solid #d2d2d2;
}

#input-label-column {
  padding: 5px;
  display: flex;
  flex-direction: column;
}

#input-label-row,
#add-comment-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#input-label {
  margin: 12px 0;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #333;
}

#add-comment-label {
  font-size: 14px;
  font-weight: normal;
  line-height: 17px;
  color: #333;
}

#comment-required-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.red-circle {
  margin: 6px;
  width: 6px;
  height: 6px;
  background-color: #ec898e;
  border-radius: 100%;
}

#comment-required {
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
  font-style: italic;
  color: #a5a5a5;
}

#input-comment {
  margin: 10px 0;
  padding: 12px;
  border: 1px solid #a5a5a5;
  border-radius: 4px;
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
  color: #333;
  box-sizing: content-box;
  outline: none;
}

#input-comment::placeholder {
  font-style: italic;
  color: #a5a5a5;
}

#input-actions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#add-on-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#attachment-button,
#drawover-button {
  background: none;
  border: none;
  padding: 5px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#drawover-button.enabled {
  background-color: #6e82dc;
  border-radius: 6px;
}

#input-cancel,
#input-submit,
#redraw-button {
  background: none;
  border: none;
  cursor: default;

  padding: 10px 15px;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: #a5a5a5;
}

#redraw-button {
  padding: 10px 0;
}

#input-cancel.enabled:hover,
#redraw-button:hover {
  cursor: pointer;
  color: #6e82dc;
}

#input-submit.enabled {
  cursor: pointer;
  background-color: #6e82dc;
  color: white;
  border-radius: 6px;
}

.scroll-column {
  position: relative;
  overflow-y: auto;
  flex-grow: 1;
}

.scroll-column.focused {
  overflow-y: hidden;
}

#note-vignette {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #333;
  opacity: 0.38;
  z-index: 1;
}
