#notes-column {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* width: 23vw; */
  width: 337px;
}

#input-column {
  padding: 5px 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-bottom: 1px solid #d2d2d2;
}

#input-label {
  margin: 5px;
  align-self: flex-start;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #333;
}

#input-comment {
  margin: 10px 0;
  padding: 12px;
  border: 1px solid #a5a5a5;
  border-radius: 4px;
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
  color: #333;
  box-sizing: content-box;
  outline: none;
}

#input-comment::placeholder {
  font-style: italic;
  color: #a5a5a5;
}

#input-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

#input-cancel,
#input-submit {
  background: none;
  border: none;
  cursor: default;

  padding: 10px 15px;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: #a5a5a5;
}

#input-cancel.enabled:hover {
  cursor: pointer;
  color: #6e82dc;
}

#input-submit.enabled {
  cursor: pointer;
  background-color: #6e82dc;
  color: white;
  border-radius: 6px;
}

.scroll-column {
  overflow-y: auto;
}
