#thread-column {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* width: 23vw; */
  width: 337px;
}

#back-to-comments-row {
  padding: 17px 13px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;

  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  color: #333;
}

#back-to-comments-icon {
  font-size: 27px;
}

#reply-comment {
  margin-top: 20px;
  padding: 12px;
  border: 1px solid rgba(152, 152, 152, 0.5);
  border-radius: 4px;
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
  box-sizing: content-box;
  outline: none;
}

#reply-comment::placeholder {
  font-style: italic;
  color: #a5a5a5;
}

.scroll-column {
  overflow-y: auto;
}
