#notes-row {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  border-left: 0.2px solid black;
  /* width: 23vw; */
  box-sizing: content-box;
  width: 335px;
  overflow: hidden;
}

.main-thread {
  margin-left: 0;
  transition: margin .3s, opacity .3s, visibility .3s;
  opacity: 1;
  visibility: visible;
}

.main-thread-inactive {
  margin-left: -336px;
  opacity: 0;
  visibility: hidden;
}

.active-thread {
  transition: visibility .3s, opacity .3s;
  opacity: 1;
  visibility: visible;
}

.active-thread-inactive {
  opacity: 0;
  visibility: hidden;
}