.profile-picture,
.initials {
  height: 35px;
  width: 35px;
  flex-shrink: 0;
  border-radius: 100%;
  object-fit: cover;
  background-color: #c4c4c4;
}

.initials {
  text-align: center;
  user-select: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 35px;
  color: #333;
}
