#comment-column {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  /* width: 23vw; */
  width: 100%;
}

#input-column {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border-bottom: 1px solid #e4e4e4;
}

.scroll-column {
  position: relative;
  overflow-y: auto;
  flex-grow: 1;
}

.scroll-column.focused {
  overflow-y: hidden;
}

#comment-vignette {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  box-shadow: 0 0 99999px 99999px rgba(51, 51, 51, 0.38);
}
