div {
  background-color: inherit;
}

.wrapper {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #a5a5a5;
}

.wrapper.selected {
  background-color: #f7f8ff;
}

.selected-bar {
  width: 5px;
  background-color: #7e8ed7;
  flex-shrink: 0;
}

.corner-tag-group {
  position: relative;
  align-self: flex-start;
  width: 40px;
  height: 40px;
}

.corner-tag {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 20px solid transparent;
}

.corner-tag.drawover {
  border-top: 20px solid #6e82dc;
  border-left: 20px solid #6e82dc;
}

.icon {
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 1;
}

.note {
  padding: 16px 20px 16px 0;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
}

.note-content {
  padding-right: 13px;
}

.note-top-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.pin-color {
  height: 35px;
  width: 35px;
  flex-shrink: 0;
  border-radius: 100%;
}

.note-top-column {
  margin-left: 13px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.author-row {
  margin-bottom: 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.author-name {
  padding-right: 5px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  color: #333;
}

.resolve {
  background: none;
  border: none;

  padding: 4px 10px;
  border-radius: 5px;

  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
  color: #7e8ed7;
}

.resolve.main-comment {
  border: 1px solid #cecece;
}

.more-options-button {
  background: none;
  border: none;
  padding: 0;
  margin-left: 8px;
}

.note-date {
  font-size: 10px;
  font-weight: normal;
  line-height: 12px;
  color: #a5a5a5;
}

.comment {
  margin: 20px 0 0 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
  color: #333;
}

.reply-row {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.reply-button {
  background: none;
  border: none;
  padding: 0;

  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  color: #7e8ed7;
}

.attachment-button {
  background: none;
  border: none;
  padding: 0;
  margin-left: 48px;
}