html {
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  font-family: "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.btn {
  margin: 10px 0px 10px 0px;
}

#app-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#app-container.drawover {
  cursor: url(/assets/pencil-cursor-black.png) 0 22, crosshair;
  cursor: url(/assets/pencil-cursor-black.svg) 0 22, crosshair;
  cursor: -webkit-image-set(
        url(/assets/pencil-cursor-black.png) 1x,
        url(/assets/pencil-cursor-black-2x.png) 2x,
        url(/assets/pencil-cursor-black-3x.png) 3x,
        url(/assets/pencil-cursor-black-4x.png) 4x
      )
      0 22,
    crosshair;
}

#app-container.pin {
  cursor: url(/assets/pin-cursor.png) 0 18, crosshair;
  cursor: url(/assets/pin-cursor.svg) 0 18, crosshair;
  cursor: -webkit-image-set(
        url(/assets/pin-cursor.png) 1x,
        url(/assets/pin-cursor-2x.png) 2x,
        url(/assets/pin-cursor-3x.png) 3x,
        url(/assets/pin-cursor-4x.png) 4x
      )
      0 18,
    crosshair;
}

#main-area {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

#variations-column {
  display: none;
  flex-direction: column;
  align-items: center;
  border-radius:25px;
}

.draw-over {
  flex-grow: 1;
}

.renderer {
  position: absolute !important;
}

.camera-button-row {
  position: absolute;
  z-index: 1;
  bottom: 42px;
  left: calc(50% - (3 / 2) * (32px + 2 * 15px));
  background-color: #fafafa;
  border-radius: 6.8px;
  box-shadow: 0px 1.7px 10.2px rgba(139, 139, 139, 0.36);
  display: flex;
  flex-direction: row;
}

.camera-button {
  background: none;
  border: none;

  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
  color: #333;
}

.front-camera-button {
  border-left: 0.85px solid #e3e3e3;
  border-right: 0.85px solid #e3e3e3;
}

.camera-button-icon-container {
  width: 32px;
  height: 32px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
