button {
  cursor: pointer;
}

.comment {
  padding: 15px 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom: 0.5px solid #c7c7c7;
}

.comment-flag-row {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 2*43px);
  padding: 0 43px;
  display: flex;
  flex-direction: row-reverse;
  pointer-events: none;
}

.comment-flag {
  margin-left: 17px;
}

.comment.selected {
  background-color: #f6f8ff;
}

.comment-text {
  margin: 20px;
  margin-left: 0;
  font-size: 12px;
  font-weight: normal;
  line-height: 14px;
  color: #333;
}
